@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<br/><br/>
<div align="center">
    <h2 class="display-3" style="color: #f0ead6">This email link has expired</h2>
    <h4 class="display-4" style="color: #f0ead6">Good try...</h4>
</div>