@* @model TModel *@

@{
    ViewBag.Title = "Log In";
    Layout = "_Layout";
}
<div align="center">
    <div align="left" style="width: 40%">
        <h2 class="display-4">Login</h2><br/>
        <form action="/account/processlogin" method="post">
            <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" id="inputUsername" class="form-control"
                       name="Username" placeholder="Enter Your Username"/>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control"
                       name="Password" placeholder="Enter Your Password"/>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-primary" href="javascript:history.back()">Go Back</a>
            </div>
        </form>
    </div>
</div>


