@* @model TModel *@

<!DOCTYPE html>

<html>
<head>
    <title>Welcome Home</title>
</head>
<body>
<div class="btn btn-group">
    <a class="btn btn-primary" style="color: #fff" href="/recipe/recipes">Recipes</a>
    <a class="btn btn-primary" style="color: #fff" href="/shopping/list">Shopping Lists</a>
</div>
</body>
</html>