@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br/><br/>
<div align="center">
    <h6 class="display-4" style="color: white">Thank you for changing your password!</h6>
    <br/><br/>
<a class="btn btn-light btn-lg" href="/account/login">Please login with it here!</a>
</div>