@model RecipeList.Accounts.ForgotPasswordViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var user = ViewData["user"];
    var uniqueId = ViewData["uniqueId"];
}
<style type="text/css">
    .field-validation-error { color: #ff0000; }

    .field-validation-valid { display: none; }

    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }

    .validation-summary-errors {
        font-weight: bold !important;
        color: #ff0000 !important;
    }

    .validation-summary-valid { display: none; }
</style>
<div align="center">
    <h2 class="display-4" style="color: #f0ead6">Reset your password</h2><br/>
    <div align="left" style="width: 40%">
        <br/>
        @Html.ValidationSummary()
        <form action="/account/recover/@user/@uniqueId" method="post">
            <div style="padding: 15px; background: #f0ead6">
                <div align="center">
                    <div class="form-group" align="left" style="width: 75%; color: #1560bd">
                        <label for="password">Please enter a new password</label><br/>
                        <input class="form-control" type="password" id="password" name="PasswordOne" placeholder="Enter password"/>
                        <input class="form-control" type="password" name="PasswordTwo" placeholder="Re-enter password"/>
                        <input type="hidden" name="user" value="@user"/>
                        <input type="hidden" name="uniqueIdInput" value="@uniqueId"/>
                    </div>
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>