@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br/><br/>
<div align="center">
    <script>
        window.alert("Thank you for your verification");
        window.location.href = '/account/login';
    </script>
</div>