@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>


<div class="text-center">
    <div align="center">
        <a class="btn btn-success" style="width: 10%" href="/account/login">Login</a>
        <br/>
        <a class="btn btn-success" style="width: 10%" href="/account/register">Register</a>
    </div>
</div>