@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<br/>

<div align="center">
    <div>
        <a class="btn btn-primary" href="/account/login">Login</a>
        <br/><br/>
        <a class="btn btn-primary" href="/account/register">Register</a>
    </div>
</div>