@model RecipeList.Shopping.ShoppingListItems

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<html>
<body>
<h2>Edit Shopping List</h2>
<div align="center">
    <div style="width: 40%" align="left">
        <form action="/shopping/update" id="myForm" method="post">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" id="Name" name="title" value="@Model.listName" class="form-control"/>
            </div>

            <div class="form-group" align="center">
                <label for="listItemInput">
                    Add Items to your list:
                    <input name="myListItem" id="listItemInput"/>
                </label>
                <input type="button" id="add-row" class="btn btn-primary" value="Add Item"/>
            </div>
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script type="text/javascript">
                var itemList = [];

                $(document).ready(function() {
                    $("#add-row").click(function() {
                        var name = $("#listItemInput").val();
                        var markup = "<tr><td class='listItem" + name + "'>" + name +
                            "</td><td><button type='button' class='close' " +
                            "aria-label='Close'><span aria-hidden='true'>&times;</span></button></td></tr>";
                        $("#listItemInput").val("");
                        $("table tbody").append(markup);
                    });
                    $("#create-list").click(function() {
                        var table = document.getElementById('myTable');
                        var title = document.getElementById('Name').value;
                        
                        var itemListElements = $('td[class^="listItem"]');
                        
                        for (var i = 0; i < itemListElements.length; i++) {
                            itemList.push(itemListElements[i].innerHTML);
                        }

                        var data = { Name: title, Len: itemList.length, Items: itemList, ListId: @Model.listId};

                        document.getElementById('data').value = JSON.stringify(data);


                        $('#myForm').submit();
                    });
                    $('#myTable').on('click',
                        'button[type="button"]',
                        function() {
                            $(this).closest('tr').remove();
                        });
                });
            </script>

            <div align="center">
                <div style="width: 65%">
                    <table class="table table-striped" id="myTable">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 90%">Items</th>
                            <th scope="col" style="width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.listItems)
                        {
                            <tr>
                                <td class="listItem" + @item>@item</td>
                                <td>
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden='true'>&times;</span>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <br/>
                    <div align="center">
                        <button type="button" id="create-list" class="btn btn-primary">Save</button>
                    </div>
                    <input name="Data" id="data" hidden="true"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>