@* @model TModel *@

<!DOCTYPE html>

<html>
<head>
    <title>Shopping List</title>
</head>
<body>
<div align="right">
    <a class="btn btn-primary" style="color: #fff" href="new">Create a new shopping list!</a>
</div>
</body>
</html>