@model List<RecipeList.Shopping.ShoppingListItems>

<!DOCTYPE html>

<html>
<head>
    <title>Shopping List</title>
</head>
<body>
<div class="align-items-center">
    <div>
        <div style="float: right">
            <a class="btn btn-info" style="color: #fff" href="new">New List</a>
        </div>
        <div style="float: left">
            <a class="btn btn-info" href="javascript:history.back()">Go Back</a>
        </div>
    </div>
    <div align="center">
        <h5 class="display-4" style="color: white">Shopping Lists</h5>
    </div>
    <br></br>
    <div align="center">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card text-white bg-info mb-3" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.listName</h5>
                            <div class="btn-group">
                                <a class="btn btn-outline-light" href="edit?listId=@item.listId">Edit</a>
                                <a class="btn btn-outline-light" href="view?listId=@item.listId">View</a>
                            </div>
                        </div>
                        <div class="card-footer text-muted bg-white">
                            @item.UpdatedAt
                        </div>
                    </div>
                    <br/>
                </div>
            }
        </div>
    </div>
</div>
</body>
</html>