@using RecipeList.Shopping
@model RecipeList.Shopping.ShoppingList

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var items = (List<string>) ViewData["items"];
}
<!DOCTYPE html>

<html>
<head>
    <title>New Shopping List</title>
</head>
<body>
<h2>New Shopping List</h2>
<div align="center">
    <div style="width: 40%" align="left">
        <form action="/shopping/process" id="myForm" method="post">
            <div align="center">
                <a class="btn btn-primary" href="javascript:history.back()">Go Back</a>
            </div>
            <br/>
            
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" id="Name" name="title" placeholder="ex. Thanksgiving Day List" class="form-control"/>
            </div>

            <div class="form-group" align="center">
                <label for="listItemInput">
                    Add Items to your list:
                    <input list="items" name="myListItem" id="listItemInput"/>
                </label>
                <datalist id="items">
                    @foreach (var i in items)
                    {
                        <option value="@i"/>
                    }
                </datalist>
                <input type="button" id="add-row" class="btn btn-primary" value="Add Item"/>
            </div>
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <script type="text/javascript">
                var itemList = [];

                $(document).ready(function() {
                    $("#add-row").click(function() {
                        var name = $("#listItemInput").val();
                        var markup = "<tr><td class='listItem" + name + "'>" +
                            name +
                            "</td><td><button type='button' class='close' " +
                            "aria-label='Close'><span aria-hidden='true'>&times;</span></button></td></tr>";
                        $("#listItemInput").val("");
                        $("table tbody").append(markup);
                    });

                    $("#create-list").click(function() {
                        var table = document.getElementById('myTable');
                        var title = document.getElementById('Name').value;
                        var itemListElements = $('td[class^="listItem"]');
                        
                        for (var i = 0; i < itemListElements.length; i++) {
                            itemList.push(itemListElements[i].innerHTML);
                        }
                        var data = { Name: title, Len: itemList.length, Items: itemList};

                        document.getElementById('data').value = JSON.stringify(data);
                        $('#myForm').submit();
                    });
                    $('#myTable').on('click',
                        'button[type="button"]',
                        function() {
                            $(this).closest('tr').remove();
                        });
                });
            </script>

            <div align="center">
                <div style="width: 65%">
                    <table class="table table-striped" id="myTable">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 90%">Items</th>
                            <th scope="col" style="width: 10%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br/>
                    <div align="center">
                        <button type="button" id="create-list" class="btn btn-primary">Create List</button>
                    </div>
                    <input name="Data" id="data" hidden="true"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>