@model RecipeList.Shopping.ShoppingList

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var items = (List<string>) ViewData["items"];
    var user = (string) ViewData["username"];
    var defaultTitle = user + "'s List";
}

<div align="center">
    <h2 class="display-4" style="color: #f0ead6">New Shopping List</h2><br/>
    <a class="btn btn-info" href="javascript:history.back()">Go Back</a>
    <br/>
    <div style="width: 45%" align="left">
        <br/>
        <form action="/shopping/process" id="myForm" method="post">
            <div style="padding: 15px; background: #f0ead6">
                <div class="form-group">
                    <label asp-for="Name" style="color: #1560bd"></label>
                    <input type="text" id="Name" name="title" value="@defaultTitle" class="form-control"/>
                </div>

                @* List item insertion *@
                <div class="form-group" align="center">
                    <label for="listItemInput" style="color: #1560bd">
                        Add Items to your list:

                        <input list="items" name="myListItem" id="listItemInput"/>
                    </label>
                    @* Data list is populated by historical items previously entered by this user *@
                    <datalist id="items">
                        @foreach (var i in items)
                        {
                            <option value="@i"/>
                        }
                    </datalist>
                    <input type="button" id="add-row" class="btn btn-info" value="Add Item"/>
                </div>
                <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
                <script type="text/javascript">
                    var itemList = [];

                    @* BTN handlers *@
                    $(document).ready(function() {
                        @* HTML markup is generated and inserted into the view. 
                        A class is generated for each ingredient so that they can be accessed when creating 
                        the list *@
                        $("#add-row").click(function() {
                            var name = $("#listItemInput").val();
                            name = name.charAt(0).toUpperCase() + name.slice(1);
                            var markup = "<tr><td class='listItem" +
                                name +
                                "'>" +
                                name +
                                "</td><td><button type='button' class='close' " +
                                "aria-label='Close'><span aria-hidden='true'>&times;</span></button></td></tr>";
                            $("#listItemInput").val("");
                            $("table tbody").append(markup);
                        });

                        $("#create-list").click(function() {
                            var table = document.getElementById('myTable');
                            var title = document.getElementById('Name').value;
                            var itemListElements = $('td[class^="listItem"]');

                            for (var i = 0; i < itemListElements.length; i++) {
                                itemList.push(itemListElements[i].innerHTML);
                            }
                            @* Created JSON object to send back to the controller *@
                            var data = { Name: title, Len: itemList.length, Items: itemList };

                            document.getElementById('data').value = JSON.stringify(data);
                            $('#myForm').submit();
                        });
                        @* function for deleting item on list *@
                        $('#myTable').on('click',
                            'button[type="button"]',
                            function() {
                                $(this).closest('tr').remove();
                            });
                    });
                </script>
                @* Empty  table to hold list items *@
                <div align="center">
                    <div style="width: 65%">
                        <table class="table table-light" id="myTable">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 90%">Items</th>
                                <th scope="col" style="width: 10%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <br/>
                        <div align="center">
                            <button type="button" id="create-list" class="btn btn-info">Create List</button>
                        </div>
                        <input name="Data" id="data" hidden="true"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>