@model RecipeList.Shopping.ShoppingListItems

<!DOCTYPE html>

<html>
<head>
    <title>View Shopping List</title>
</head>
<body>
<div align="center" style="padding: 5%">
    <a class="btn btn-info" href="javascript:history.back()">Go Back</a>
</div>
<br/>
<div align="center">
    <div style="width: 40%; background: #f0ead6; padding: 15px">

        
            <table class="table table-bordered table-striped table-info" style="width: 80%">
                <tr>
                    <th>
                        <div align="center">@Model.listName</div>
                    </th>
                </tr>
                @foreach (var item in Model.listItems)
                {
                    <tr>
                        <td>
                            <div align="center">@item</div>
                        </td>
                    </tr>
                }
            </table>
            <br/>
            <tr>
                <a class="btn btn-info" href="edit?listId=@Model.listId">Edit</a>
            </tr>
        </>
    </div>
</div>
</body>
</html>