@model RecipeList.Shopping.ShoppingListItems

<!DOCTYPE html>

<html>
<head>
    <title>View Shopping List</title>
</head>
<body>
<div align="center" style="padding: 5%">
    <a class="btn btn-info" href="javascript:history.back()">Go Back</a>
</div>
<div align="center">
    @* <div style="width: 40%; background: #f0ead6; padding: 15px"> *@


    <div class="card" style="width: 40%">
        <div class="card-header">
            <b>@Model.listName List</b>
        </div>
        <div class="card-body" style="background: #f0ead6;">
            <table class="table table-bordered table-light">
                @foreach (var item in Model.listItems)
                {
                    <tr>
                        <td>
                            <div align="center">@item</div>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="card-footer">
            <a class="btn btn-info" href="edit?listId=@Model.listId">Edit</a>
        </div>
    </div>
    @* </div> *@
</div>
</body>
</html>