@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div align="center">
    <h2 class="display-2" style="color: #f0ead6">Categories Saved</h2>
    <br/>
    <a class="btn btn-info" href="/admin/home">Home</a>

</div>